{% extends "nav/child/wrf_model/base_child_nav.html" %}

{% block temp_sub_nav %}
	<li class="child_nav_button" id="selected_child">
		<a href="/wrf_model/tmpc?pressure=500">Temp</a>
	</li>
</ul>

<ul class="child_sub_nav_list">
	<li class="child_sub_nav_button">
		<a href="/wrf_model/tmpc?pressure=500">500 hPa</a>
	</li>
	<li class="child_sub_nav_button">
		<a href="/wrf_model/tmpc?pressure=700">700 hPa</a>
	</li>
	<li class="child_sub_nav_button">
		<a href="/wrf_model/tmpc?pressure=850">850 hPa</a>
	</li>
</ul>

<ul class="child_nav_list">
{% endblock %}