/*
Sets all base elements to White with Margin 0
*/
html, body {
    background-color: #FFF;
	  margin: 0;
  }

/*
Styles the top bar to accept the valparaiso prestige logo
*/
	.top-bar
	{
		overflow: hidden;
		background-color: #381e0e;
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		vertical-align:middle;
		box-shadow: 0 5px 3px rgba(0,0,0,.5);
	}
	.top-bar img
	{
		max-width: fixed;
		height: auto;
		vertical-align:middle;
		padding-left:33vw;

	}

/*
Sets background color and centers page titles for all pages
*/	
	#intro
	{
		text-align: center;
		color: #F3F3CF;
	}

/*
Shifts all Navigation bars up to be in a better position to be moved up as necessary individually
*/
	#navbar
	{
		margin: -20em 0 3em 4em;
	}
