.content
	{
		margin-top: 0;
		position:relative;
		z-index:2;
	}
	.content-main
	{
		margin: -22em 0em 0em 22em;
		max-width:45em;

	}
	.content-main img
	{
		position:absolute;
	}
	
	#title
	{
		font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
		text-shadow: none;
		font-weight: 600;
		text-align: center;
		
	}
	
	.container-index
	{
	margin: -30.9em 0 -50em 18em;
	background: grey;
	width:65.5em;
	height:62.5em;
	filter:opacity(.4);
	overflow:hidden;
	z-index:1
	}
	
	.container-forecast
	{
	margin: -73em 0 0 18em;
	background: grey;
	width:65.8em;
	height:74em;
	filter:opacity(.4);
	overflow:hidden;
	z-index:1
	}
	
	.container-soundings
	{
	margin: -4.5em 0 0 26.6em;
	background: grey;
	width:40em;
	height:40em;
	filter:opacity(.4);
	overflow:hidden;
	z-index:1;
	}
	
	.container-loop
	{

	}
	
	footer
	{
		margin: 2em 0 0 0;
	}
	
	#below
	{
		margin: 40em 0 0 5.5em;
	}

	.satellite
	{
		margin: 50em 0 0 0;
	}