	.content
	{
		margin-top: 0%;
		
	}
	.content-main
	{
		margin: -27% 0% 0% 22%;
		max-width:700px;
		z-index: +1;
	}
	.content-main img
	{
		position:absolute;
	}
	
	#title
	{
		font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
		text-shadow: none;
		font-weight: 600;
		text-align: center;
		
	}
	
	.container
	{
	background: blue;
	width:50%;
	filter:opacity(.7);
	overflow:hidden;
	}

	.extra-space
	{
		padding: 0% 0% 0% 0%;
	}

	footer
	{
		margin: 25% 0% 0% 0%;
	}
	
	#below
	{
		margin: 88% 0% 0% 10%;
	}

	.satellite
	{
		margin: 50% 0% 0% 0%;
	}