
#forecast
{
    margin: -20% 0% 0% 22%;
    position: relative;
	z-index:2;
}

#forecast img {
    width: 200px;
}

#forecast_title {
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid black;
    width: 1020px;
    position: relative;
    margin-bottom: 30px;
}

#forecast_container {
    position: relative;
}

#forecast_text_container {
    position: absolute;
    z-index: 20;
}

.forecast_text {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 30;
    top: -490px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#graphic_container {
    position: relative;
    margin: -28% 0% 0% 0%;
    width: 1020px;
}

#graphic_container img {
    width: 1020px;
}

#graphic_title {
    position: relative;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.forecast
{
	margin: 0% 0% 0% 0%;
}
