
#forecast
{
    margin: -18em 0 0 19em;
    position: relative;
	z-index:2;
}

#forecast img {
    width: 200px;
}

#forecast_title {
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid black;
    width: 40em;
    position: relative;
    margin-bottom: 30px;
}

#forecast_container {
    position: relative;
}


.forecast_text {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 30;
    top: -25em;
    color: #000;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#graphic_container {
    position: relative;
    margin: -16em 0 0 0;
    width: 63em;
}

#graphic_container img {
    width: 63.7em
}

#graphic_title {
    position: relative;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
}


