
#content {
    position: relative;
    margin: -19em 0 0 19em;
	height: 500px;
	z-index:2;
}

#content td {
    text-align: center;
}

#content a {
    text-decoration: none;
}

#forecast_data img {
    width: 200px;
}

#non-first-element {
    position: relative;
    top: -17em;
}

#non-first-element img {
    height: 25em;
}
.column-header {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    margin-bottom: 25px;
    font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home
{
	padding: 58em 0 0em 0;
}

