
#content {
    position: relative;
    margin: -20% 0% 0% 22%;
	height: 500px;
}

#content td {
    text-align: center;
}

#content a {
    text-decoration: none;
}

#forecast_data img {
    width: 200px;
}

#non-first-element {
    position: relative;
    top: -300px;
}

#non-first-element img {
    height: 400px;
}
.column-header {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    margin-bottom: 25px;
    font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home
{
	padding-top: 45%;
}