.nav_list
{
	list-style-type: none;
	padding: 0;
	min-width: 12em;
	width: 10em;
	margin: 0;
	color: #7C7C7C;
	background-color: #F2EDE3;
	position: relative;
	top: 0;
	overflow: auto;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.nav_button a, a:visited
{
	margin-bottom: 0px;
	color: black;
	display: block;
	padding: .32em 1em;
	text-decoration: none;
	text-align: center;
	font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: none;
	font-weight: 400;
}

.nav_button a:hover
{
	display: block;
	background: #584A42;
	color: white;
}

.child_nav_list
{
	list-style-type: none;
	padding: 0;
	min-width: 12em;
	width: 10em;
	margin: 0 0 0 1em;
	color: #7c7c7c;
	background-color: #fcf0bd;
	position: relative;
	top: 0;
	overflow: auto;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
	font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: none;
	font-weight: 400;	
}

.child_nav_button a, a:visited
{
	margin-bottom: .05em;
	display: block;
	padding: .25em 1em;
	color: black;
	text-decoration: none;
	text-align: center;
	font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: none;
	font-weight: 400;
}

.child_nav_button a:hover {
    background: #584A42;
    font-family: "Avenir LT W01 65 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    font-weight: 400;
    color: white;
}

#selected {
    background: #fc0;
    color: #613318;
}

.child_sub_nav_list 
{
	list-style-type: none;
	padding: 0;
	min-width: 200px;
	width: 3em;
	margin:0;
	margin-left: 4em;
	color: #7c7c7c;
	background-color: #fcf0bd;
	position: relative;
	top: 0;
	overflow: auto;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
	font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: none;
	font-weight: 400;
}

.child_sub_nav_button a, a:visited
{
	margin-bottom: .05em;
	display: block;
	padding: .25em 1em;
	color: black;
	text-decoration: none;
	text-align: center;
	font-family: "Avenir LT W01 65 Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: none;
	font-weight: 400;
}

.child_sub_nav_button a:hover {
    background: #584A42;
    font-family: "Avenir LT W01 65 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    font-weight: 400;
    color: white;
}

#selected_child {
    background: #eaf;
    color: #502207;
}


.nav_loop
{
	margin: -54em 0 30em 0;
}

.nav_ncep {
    margin: -58% 0 40% 0;
}

#upload_link {
    cursor: pointer;
}

.login_required {
    
}
  
.nav_ncep
{
	margin: -48em 0 35em 0;
}

.login_input {
	text-align: left;
	padding: 8px;
}
