#show_image img {
    width: 600px;
    height: 550px;
}

.space {
    position: relative;
    margin: 6% 0 0 5%;
    z-index: 3;
}

.home {
    margin: 10% 0 0 0;
}

.content-main h2 {
    margin-left: 30%;
}