#show_image img {
    width: 600px;
    height: 550px;
}

#nav_sounding {
	position: relative;
	z-index: 10;
	width: 0;
}

.space
{
	position: relative;
	margin: 10em 0% 0% 5%;
	z-index: 3;
}

.home {
    margin: 10% 0 0 0;
}

.content-main h2 {
    margin-left: 30%;
}

#sounding_title
{
	color:black;
	width: 20em;
	text-align:center;
	margin:0 0 0 -1em;
}

#downloads
{
	color:black;
	margin: -20em 0 -10em 70em;
	position:relative;
	z-index:2;
}