
#content {
    position: absolute;
    right: 17em;
    margin-top: -20em;
	width:56vw;
	max-width:60vw;
	min-width:55vw;
}

#graph a:hover {
    display: inline;
}

#station_history table, td {
    border: 1px solid black;
    border-collapse: collapse;
}