<html>
	<head>
		<title>GFS Model</title>
		
		{% csrf_token %}
		{% load static %}

		{% include "frag/metas.html" %}
		{% include "frag/scripts.html" %}
		
		<script src="{% static "js/ncep_models.js" %}"></script>

		<link rel="stylesheet" type="text/css" href="{% static "css/loop.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />
	</head>
	<body>
		<div class="content">

			<div>{% include "frag/header.html" %}</div>

			<div id="navbar">
				<div>{% include "nav/ncep_models_nav.html" %}</div>
			</div>

			<div id="preload"></div>

			<div class="extra-space">
				<div class="content-main">
					<h2 id="title">GFS Model</h2>
					<div id="animate_loop"></div>
				</div>
			</div>
		</div>
	</body>
</html>