<html>
	<head>
		<title>{{ radar_name }} Radar</title>

		{% csrf_token %}
		{% load static %}

		{% include "frag/metas.html" %}
		{% include "frag/scripts.html" %}

		<script src="{% static "js/radar.js" %}"></script>

		<link rel="stylesheet" type="text/css" href="{% static "css/loop.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />
	</head>
	<body>
		<div class="content">
			<form>
				<input hidden name="radar_type" value="{{ radar_type }}" />
			</form>

			<div>{% include "frag/header.html" %}</div>

			<div id="navbar">
				<div>{% include "nav/radar_nav.html" %}</div>
			</div>

			<div id="preload"></div>

			<div class="content-main">
				<div id="container"></div>
				<h2 id="title">{{ radar_name }} Radar</h2>
				<div id="animate_loop"></div>
			</div>
		</div>
	</body>
</html>
