<html>
	<head>
		<title>{{ radar_name }} Radar</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        	{% csrf_token %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		{% load static %}
		<script src="{% static "js/radar.js" %}"></script>
		{% load radar_extras %}
	</head>
	<body>
		{% with radar_type|image_file:1 as img_file %}
			<img id="radar_current_img" src="{% static img_file %}" alt="Missing image">
		{% endwith %}

		<h2>{{ radar_name }} Radar</h2>
		<div>{% include "nav/base_nav.html" %}</div>

		<h3>Types:</h3>
		<div>{% include "nav/radar_nav.html" %}</div>
	</body>
</html>
