<html>
	<head>
		<title>{{ satellite_name }} Satellite</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% csrf_token %}
		{% load static %}
		{% include "scripts.html" %}
		<script src="{% static "js/satellite.js" %}"></script>

		<link rel="stylesheet" type="text/css" href="{% static "css/satellite.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />
	</head>
	<body>
		<div class="content">
			<form>
				<input hidden name="satellite_channel" value="{{ satellite_channel }}" />
			</form>
			<div class="content-nav">
				<div>{% include "nav/satellite_full_nav.html" %}</div>
			</div>
			<div class="content-main">
				<div id="animate_loop">
					<img id="current_image" alt="" src="" />
				</div>
			</div>
	</body>
</html>