{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}" />

 <div class="row">
 <div class="column">
	<h2>Department Address</h2>
	<h3>Kallay-Christopher Hall</h3>
	<h3>1809 Chapel Drive</h3>
	<h3>Valparaiso, IN 46383</h3>
 </div>
 <div class="column">
	<h2>University</h2>
	<h3><a href="http://www.valpo.edu/about/">About</a></h3>
	<h3><a href="http://www.valpo.edu/studentlife/">Student Life</a></h3>
	<h3><a href="http://www.valpo.edu/admission/">Admissions</a></h3>
	<h3><a href="http://valpoathletics.com/">Athletics</a></h3>
	<h3><a href="http://www.valpo.edu/vuca/">The Arts</a></h3>
	<h3><a href="http://www.valpo.edu/alumni/">Valpo Alumni</a></h3>
  </div>
<div class="column">
	<h2>Academics</h2>
	<h3><a href="http://www.valpo.edu/cas/">College of Arts & Sciences</a></h3>
	<h3><a href="http://www.valpo.edu/cob/">College of Business</a></h3>
	<h3><a href="http://www.valpo.edu/engineering/">College of Engineering</a></h3>
	<h3><a href="http://www.valpo.edu/nursing/">College of Nursing & Health</a></h3>
	<h3><a href="http://www.valpo.edu/christcollege/">The Honors College</a></h3>
	<h3><a href="http://www.valpo.edu/grad/">Graduate School</a></h3>
	<h3><a href="http://www.valpo.edu/law/">Law School</a></h3>
</div>
<div class="column">
	<h2>Campus Resources</h2>
	<h3><a href="http://www.valpo.edu/directory/index.php">People/Offices</a></h3>
	<h3><a href="http://www.valpo.edu/about/maps-directions/">Maps/Directories</a></h3>
	<h3><a href="http://library.valpo.edu/">Library</a></h3>
	<h3><a href="http://www.valpo.edu/chapel/">Chapel</a></h3>
	<h3><a href="https://valpocareers.silkroad.com/">Employment</a></h3>
	<h3><a href="http://blogs.valpo.edu/alert/">Campus Alerts</a></h3>
</div> 