{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/forecast.css" %}" />
<div>
<table>
    <tr>
        {% for arr in data %}
        <td>
            <div id="forecast_container">
                <img src="http://bergeron.valpo.edu/images/futureclr.jpg" alt="Weather Picture">
                {% for field in arr %}
                    <div class="forecast_text">{{ field }}</div>
                {% endfor %}
            </div>
        </td>
        {% endfor %}
    </tr>
</table>
</div>