{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/forecast.css" %}" />
<!-- A fragment that contains all the forecast data. Note that if this is being used, the page using it MUST call and add the contents to context of parse_forecast_data(), located in forecast's views.py-->
<table>
    <tr>
        {% for arr in data %}
        <td>
            <div id="forecast_container">
                <img src="http://bergeron.valpo.edu/images/futureclr.jpg" alt="Weather Picture">
                {% for field in arr %}
                    <div class="forecast_text">{{ field }}</div>
                {% endfor %}
            </div>
        </td>
        {% endfor %}
    </tr>
</table>