<span class="below_loop">
<table width="650" border="0">
    <tbody>
    <tr>
        <td rowspan="2" width="200" align="center"><font class="text1"><strong>Step</strong>
            <input value=" < " id="back_button" type="button" class="mapbutton2">
            <input value=" > " id="forward_button" type="button" class="mapbutton2"></font>
        </td>
        <td rowspan="2" width="250" align="center"><font class="text1">
            <b>Frame</b>
            <input value=1 min=1 step=1 id="frame_value" size="10" type="number" class="maptext"></font>
        </td>
    </tr>
    </tbody>
</table>
<table padding-top="600px" width="650" border="0">
    <tbody>
    <tr>
        <td rowspan="2" width="250" align="center">
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="playback_bar">
            </div>
        </td>

    </tr>
    </tbody>
</table>
</span>