<!DOCTYPE html>
<html><head><meta charset="utf-8">
<title>Bottom UI</title>
</head>
<body>
	<table width="850" border="0">
	<tbody><tr>
	  <td width="200px" align="center"><font class="text1">
            <input value="Start" onclick="start_play();" name="button3" type="button" class="mapbutton">
            <input value="Stop" onclick="stop_play();" name="button" type="button" class="mapbutton">
	    </font>
          </td>
	  <td width="200px" align="center"><font class="text1"><strong>Direction</strong>
            <input value="Reverse" onclick="reverse();" name="direction" type="button" class="mapbutton2">
	  </font></td>	
	  <td rowspan="2" width="200" align="center"><font class="text1"><strong>Step</strong>
            <input value=" < " onclick="backstep();" name="button2" type="button" class="mapbutton2">
            <input value=" > " onclick="forwardstep();" name="button2" type="button" class="mapbutton2"></font>
	  </td>
	  <td rowspan="2" width="200" align="center"><font class="text1">
            <b>Frame</b>
            <input value="" name="frame" size="10" type="text" class="maptext"></font>
	  </td>
	  <td width="200" align="right"><font class="text1"> <strong>Speed: </strong>
            <input value="<<" onclick="delay=delay*inc; show_delay();" name="button2" type="button">
            <input value=">>" onclick="delay=delay/inc; show_delay();" name="button2" type="button"></font>
	  </td>
	  <td><font class="text1">
	   <input value="" name="dly" size="10" type="text" class="maptext"></font>
	  </td>
	</tr>
    </tbody></table>
</body>
</html>