<table width="650" border="0">
    <tbody>
    <tr>
        <td rowspan="2" width="200" align="center"><font class="text1"><strong>Step</strong>
            <input value=" < " onclick="backstep();" name="button2" type="button" class="mapbutton2">
            <input value=" > " onclick="forwardstep();" name="button2" type="button" class="mapbutton2"></font>
        </td>
        <td rowspan="2" width="250" align="center"><font class="text1">
            <b>Frame</b>
            <input value="" name="frame" size="10" type="text" class="maptext"></font>
        </td>
    </tr>
    </tbody>
</table>
<table width="650" border="0">
    <tbody>
    <tr>
        <td rowspan="2" width="250" align="center">
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </td>

    </tr>
    </tbody>
</table>