<table width="750" border="0">
    <tbody>
    <tr>
        <td width="250px" align="center"><font class="text1">
            <input value="Start" id="start_button" type="button" disabled=disabled class="mapbutton">
            <input value="Stop" id="stop_button" type="button" class="mapbutton">
        </font>
        </td>
        <td width="250px" align="center"><font class="text1"><strong>Direction</strong>
            <input value="Reverse" id="direction" type="button" class="mapbutton2">
        </font></td>
        <td width="250px" align="right"><font class="text1"> <strong>Speed: </strong>
            <!--<input value="<<" id="speed_down" type="button">
            <input value=">>" id="speed_up" type="button">--></font>
        </td>
        <td><font class="text1">
            <input value=5 id="speed_value" min=1 max=20 size="10" type="number" class="maptext">
            <strong>Imgs/Sec.</strong>
        </font>
        </td>
    </tr>
    </tbody>
</table>