{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}" />

<ul class="child_nav_list">
	<li class="child_nav_button">
		<a href="/satellite?type=true_color">True-Color</a>
	</i>
	<li class="child_nav_button">
		<a href="/satellite?type=1_blue">1: Visible (Blue)</a>
	</i>
	<li class="child_nav_button">
		<a href="/satellite?type=2_red">2: Visible (Red)</a>
	</i>
	<li class="child_nav_button">
		<a href="/satellite?type=4_nir">4: Cirrus (NIR)</a>
	</i>
	<li class="child_nav_button">
		<a href="/satellite?type=9_wv">9: Mid-level WV</a>
	</i>
</ul>
