<html>
	<head>
		<title>Forecast</title>

        	{% load static %}

		{% include "frag/metas.html" %}

		<link rel="stylesheet" type="text/css" href="{% static "css/forecast.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />
	</head>
	<body>
		<div class="content">
			<div>{% include "frag/header.html" %}</div>
			
			<div id="navbar">
				<div>{% include "nav/forecast_nav.html" %}</div>
			</div>
			
			<div id="forecast">
                <div id="forecast_title">Valpo Forecast</div>
                {% include "frag/forecast_data.html" %}
                <div id="graphic_container">
                    <div id="graphic_title">Forecast Graphic</div>
                    <img src="http://bergeron.valpo.edu/forecast/current_wxgraphic.jpg" alt="Forecast Graphic">
                </div>
            </div>
			<div class="container-forecast">
			</div>
		</div>
	</body>
	<footer>
	<div class="forecast">
			{% include "frag/footer.html" %}
		</div>
	</footer>
</html>