<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>

		{% load static %}

		{% include "frag/metas.html" %}

        <script src="{% static "js/min/jquery.min.js" %}"></script>
		<script src="{% static "js/playback_loop.js" %}"></script>

		<link rel="stylesheet" type="text/css" href="{% static "css/loop.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/loop_ui.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />
	</head>
	<body>
		<div>{% include "frag/header.html" %}</div>
		<div class="content">
            <div id="navbar">
				{% block navbar %}{% endblock %}
			</div>
			<form id="send_data" action={% block post_url %}"images/"{% endblock %}>
                {% csrf_token %}
				{% block form_data %}{% endblock %}
			</form>

			<div id="preload"></div>

            <div class="content-main">
                <!-- Block that is customized by each implementation of loop_base.html (see html files that have an extends block for this file).
                This is needed in order to make sure they are all positioned vertically in the right way. -->
                {% block style_main_content %}<div>{% endblock %}
                    <h2 id="title">{% block content_title %}{% endblock %}</h2>

                    {% include "frag/loop_ui/top.html" %}
                    {% include "frag/responses.html" %}

                    <!-- Div where the image loop is loaded by js. See playback_loop.js for implementation-->
                    <div id="animate_loop">
                        <img id="current_frame" src="" alt="Failed to load image">
                    </div>

                    {% include "frag/loop_ui/bottom.html" %}
                </div>
            </div>
            <!-- Div with the sole purpose of creating the white box around the content for this page. See the CSS code for specifics -->
			<div class="container-loop">
			</div>
		</div>
	</body>
	<footer>
		<div id="links">
			{% include "frag/footer.html" %}
		</div>
	</footer>
</html>