{% extends "loop_base.html" %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />

{% block title %}
{{ radar_name }} Radar
{% endblock %}

{% block form_data %}
<input hidden name="radar_type" value="{{ radar_type }}" />
{% endblock %}

{% block navbar %}
<div>{% include "nav/radar_nav.html" %}</div>
{% endblock %}

{% block content_title %}
{{ radar_name }} Radar
{% endblock %}

{% block style_main_content %}
<div style="margin: -28em 0 0 0;">
{% endblock %}