{% extends "loop_base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />
{% block title %}
{{ satellite_name }} Satellite
{% endblock %}

{% block script %}
<script src="{% static "js/satellite.js" %}"></script>
{% endblock %}

{% block form_data %}
<input hidden name="satellite_channel" value="{{ satellite_channel }}" />
{% endblock %}

{% block navbar %}
<div>{% include "nav/satellite_nav.html" %}</div>
{% endblock %}

{% block content_title %}
{{ satellite_name }} Satellite
{% endblock %}
