<html lang="en">
    <head>
        <title>KVUM Sounding</title>

        {% load static %}

        {% include "frag/metas.html" %}

        <script src="{% static "js/min/jquery.min.js" %}"></script>
        <script src="{% static "js/soundings.js" %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static "css/soundings.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />
    </head>
    <body>
        <form id="csrf_form">{% csrf_token %}</form>
		<div>{% include "frag/header.html" %}</div>
			<div id="nav_sounding">
				<div>{% include "nav/soundings_nav.html" %}</div>
			</div>
			<div class="space">
				<div id="preload"></div>
				<div class="content-main">
					<h2>KVUM Soundings</h2>
                    <label for="options"></label>
					<select id="options" name="options">
						{% for name in names %}
							<option value="{{ forloop.counter0 }}" {% if forloop.first %}selected="selected"{% endif %}>{{ name }}</option>
						{% endfor %}
					</select>
					<div id="show_image"></div>
				</div>
			</div>
			<div class="container-soundings"></div>	
	

	<div class="home">
			{% include "frag/footer.html" %}
		</div>
    </body>
	<footer>
	
	</footer>
</html>
