<html lang="en">
    <head>
        <title>KVUM Sounding</title>

        {% load static %}

        {% include "frag/metas.html" %}

        <script src="{% static "js/min/jquery.min.js" %}"></script>
        <script src="{% static "js/soundings.js" %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static "css/soundings.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />
    </head>
    <body>
        <form id="csrf_form">{% csrf_token %}</form>
		<div>{% include "frag/header.html" %}</div>
			<div id="nav_sounding">
                <div id="navbar">
                        <div>{% include "nav/soundings_nav.html" %}</div>
                </div>
			</div>
            <!-- Div containing the download links. These are assigned their hrefs in soundings.js -->
			<div id="downloads">
			<table style="border-collapse: collapse; width: 100%;">
					<tr><th>
						Downloadable Files
					</th></tr>
					<tr><td>
						<a id="raw_data" target="_blank" download href="">Raw Data file</a>
					</td></tr>
					<tr><td>
						<a id="standard_levels" target="_blank" download href="">Standard Levels</a>
					</td></tr>
					<tr><td>
						<a id="significant_levels" target="_blank" download href="">Significant Levels</a>
					</td></tr>
					<tr><td>
						<a id="sharppy_ready" target="_blank" download href="">SharpPy Ready File</a>
					</td></tr>
					<tr><td>
						<a id="sounding_summary" target="_blank" download href="">Sounding Summary</a>
					</td></tr>
					<tr><td>
						<a id="flight_path" target="_blank" download href="">Flight Path Map</a>
					</td></tr>
				</table>
			</div>
			<div class="space">
				<div id="preload"></div>
				<div class="content-main">
					<h2 id="sounding_title"></h2>

                    {% include "frag/responses.html" %}

                    <label for="options"></label>
					<select id="options" name="options">
						{% for name in names %}
							<option value="{{ forloop.counter0 }}" {% if forloop.first %}selected="selected"{% endif %}>{{ name }}</option>
						{% endfor %}
					</select>
                    <!-- Div where the image is appended to in js -->
					<div id="show_image"></div>
				</div>
			</div>
            <!-- Div with the sole purpose of creating the white box around the content for this page. See the CSS code for specifics -->
			<div class="container-soundings">
			</div>	
	

		<div class="home">
			{% include "frag/footer.html" %}
		</div>
    </body>
<footer></footer>
</html>
