<html lang="en">
    <head>
        <title>Sfc Station Climo</title>

        {% csrf_token %}
        {% load static %}

	    {% include "frag/metas.html" %}

        <script src="{% static "js/min/jquery.min.js" %}"></script>
	    <script src="{% static "js/station_climo.js" %}"></script>

	    <link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}" />
	    <link rel="stylesheet" type="text/css" href="{% static "css/station_climo.css" %}" />
    </head>

    <body>
        <div class="content">

            <div>{% include "frag/header.html" %}</div>

            <div id="navbar">
                <div>{% include "nav/station_climo_nav.html" %}</div>
	    </div>

            <div id="content">

                {% include "frag/responses.html" %}

                <h1 style="text-align: center;">Surface Temp from {{ current_city }}</h1>
                <input type="hidden" name="current_station" value="{{ current_station }}" />
                <form method="GET">
                    <label for="station"></label>
                    <select id="station" name="station" onchange="submit(); return false;"></select>
                </form>
                <div id="graph">{% include station_template %}</div>
                <div id="station_history">
                    <h2>Station History</h2>
                </div>
            </div>
        </div>
    </body>
</html>