{% extends "loop_base.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/wrf.css" %}" />
{% block title %}
{{ model_name }}
{% endblock %}

{% block post_url %}
"/wrf_model/images/"
{% endblock %}

{% block form_data %}
<input hidden name="model_type" value="{{ model_type }}" />
{% endblock %}

{% block navbar %}
<div class="nav_loop">{% include "nav/wrf_model/base_nav.html" %}</div>
{% endblock %}

{% block content_title %}
{{ model_name }}
{% endblock %}

<{% block style_main_content %}
<div style="margin: -36em 0 0 0;">
{% endblock %}