{% load static %}

<script src="{% static "js/min/bootstrap.min.js" %}"></script>
<script src="{% static "js/form.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static "css/min/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}" />

<!-- Modal -->
<div class="modal fade" id="login_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
                <h5 class="has-error" id="error_text"></h5>
            </div>
            <div class="modal-body">
                <form id="login_form">
                    {% csrf_token %}
                    <p>
                        <label for="modal_username">Username:</label>
                        <input id="modal_username" name="modal_username" type="text">
                    </p>
                    <p>
                        <label for="modal_password">Password:</label>
                        <input id="modal_password" name="modal_password" type="password">
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="login">Login</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="{% static "js/nav_login.js" %}"></script>

<ul class="nav_list">

	{% block home_nav %}
	<li class="nav_button">
		<a href="/">Home</a>
	</li>
	{% endblock %}

	{% block forecast_nav %}
	<li class="nav_button">
		<a href="/forecast/">Forecast</a>
	</li>
	{% endblock %}

	{% block radar_nav %}
	<li class="nav_button">
		<a href="/radar?type=ref">Radar</a>
	</li>
	{% endblock %}

	{% block satellite_nav %}
	<li class="nav_button">
		<a href="/satellite?channel=true_color">Satellite</a>
	</li>
	{% endblock %}

	{% block soundings_nav %}
	<li class="nav_button">
		<a href="/soundings/">KVUM Sounding</a>
	</li>
	{% endblock %}

	{% block wrf_model_nav %}
	<li class="nav_button">
		<a href="/wrf_model/">WRF Model</a>
	</li>
	{% endblock %}

	{% block ncep_models_nav %}
	<li class="nav_button">
		<a href="/ncep_models/">GFS Model</a>
	</li>
	{% endblock %}

	{% block station_climo_nav %}
	<li class="nav_button">
		<a href="/station_climo/?station=Valparaiso_IN_Min_Temp">Sfc Station Climo</a>
	</li>
	{% endblock %}

	<li class="nav_button">
		<a href="https://www.valpo.edu/geography-meteorology/meteorology/" 
		   target="_blank">Department Page</a>
	</li>

    {% block upload_nav %}
    <li class="nav_button login_required">
        <a id="upload_link">Upload</a>
    </li>
    {% endblock %}
</ul>
